@model myMember.Models.LoginViewModel

@{
    ViewBag.Title = "會員登入";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
.content
{
    margin:0px auto;
    width:40%;
}
.error
{
    width:40%;
    padding:5px 0px;
    text-align:center;
    margin:10px 0px;
    color:Red;
}


</style>


@using (Html.BeginForm()) {
    

    <div class="content">
    <h2>會員登入</h2>
    <div class="form-group">
            @Html.LabelFor(model => model.username)

            @Html.TextBoxFor(model => model.username, new { @class = "form-control",placeholder="請輸入帳號" })
            @Html.ValidationMessageFor(model => model.username)
            </div>
            
    
    <div class="form-group">
            @Html.LabelFor(model => model.password)

            @Html.PasswordFor(model => model.password, new { @class = "form-control", placeholder = "請輸入密碼" })
            @Html.ValidationMessageFor(model => model.password)
    </div>
    <div class="form-group">
            @Html.CheckBoxFor(model => model.remember)
            @Html.DisplayNameFor(model => model.remember)
    
            
    </div>
     <div  class="text-right">
        還未加入會員請<a href =" @Url.Action("Register", "Member")">加入會員</a><br>
        忘記密碼?<a href =" @Url.Action("forgetPw", "Member")">請點選</a>
    </div>
    <div class="error">
     @Html.ValidationSummary(true) 
    </div>
    <div  class="text-right">
    <input type="submit" value="登入" class="btn btn-primary"/>
    </div>
   
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
